header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: 0.3rem solid slategray;
}

h1 {
  grid-column: 1 / span 2;
  margin-left: 2rem;
  color: cornflowerblue;
}

nav {
  grid-column: 5 / span 2;
}

nav a {
  text-decoration: none;
  color: rebeccapurple;
  font-size: 3rem;
}
